.weather-background {
    background-image: url('./weather-background.png'); /* Pfad zum Hintergrundbild anpassen */
    background-size: cover;
    background-position: center;
  }

  .App {
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Viewport-Höhe */
  }